/*************************************************
	RESET
*************************************************/
html,body,div,span,applet,object,iframe,table,caption,tbody,tfoot,thead,tr,th,td,
del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
dl,dt,dd,ol,ul,li,fieldset,caption,form,label,legend,input,button {padding:0;margin:0;border:0;font-weight:normal}
body{-webkit-text-size-adjust:none;background:#fff;line-height:1.43em;color:#111;font-size:15px;font-family:'Roboto','Droid Sans','Malgun Gothic','Helvetica','Apple-Gothic','애플고딕','Tahoma',dotum,'돋움',gulim,'굴림',sans-serif;word-break: break-all;}
h1, h2, h3, h4, h5, h6 {font-size:15px;}
ol,ul{list-style:none}
html,body,#wrap {position:relative;min-height:100%;}
table{border-collapse:collapse;border-spacing:0}
caption,th,td{font-weight:normal;text-align:center}
blockquote:before,blockquote:after,q:before,q:after{content:""}
input, textarea, select, button {color:#111;font-size:15px;}
select,textarea{width:100%;}
img,fieldset,button{border:0;vertical-align:top}
select,input,span#location img,td *,fieldset *{vertical-align:top}
font{vertical-align: initial !important;}
input[type="text"],input[type="tel"],input[type="number"],input[type="password"],input[type="email"],textarea{padding:6px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;border-radius:0}
ul,li,ol{list-style-type :none}
hr{margin:0;border:0;}
a{color:#111;text-decoration:none}
em{font-style:normal}
legend{display:none}
caption {text-indent:-5000px;overflow:hidden;font-size:0;height:0;width:0}
input[type='checkbox'], input[type='radio']{min-width:1em;min-height:1em;vertical-align:-1px}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;margin: 0;}
input, select, textarea {-webkit-appearance:none;outline-style:none;}
button {cursor:pointer;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;background:0 0; outline:none;}

.blind {overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px;text-indent:-9999px}

body .product_detail hr.line + #container {padding-top:46px;} /* tg클래스 붙이는 시점이 늦어 tg 클래스 참고 없이 변경 */
body.tg .pd_detail.fixed .pd_detail_tab {top:46px;}

/*************************************************
	레이어 팝업
*************************************************/
.btn_popup,
.layer_type1 .btn_close,
.layer_wrap .close, .btn_tip:before {background:url(/resources/mimages/unity/sp_popup.png) no-repeat;background-size:150px auto;}

.layer_cont.input_focus {padding-bottom:0 !important;-webkit-overflow-scrolling:unset !important;}
/*#SIREN_CERT_LAYER.layer_full > .layer_wrap {position:absolute;}*/
#SIREN_CERT_LAYER.layer_full .layer_cont {padding:0;}
#SIREN_CERT_LAYER.layer_full .layer_title {height:50px;padding:0;text-align:center;}
#SIREN_CERT_LAYER.layer_full .layer_wrap .close {left:auto;right:22px;width:16px;height:16px;background-position:0 0;}
#SIREN_CERT_LAYER.layer_full > .layer_wrap .btn_area.col2 {padding-bottom:20px;}


/* 기본타입 */
.layer_type1 {position:relative;}
.btn_popup {display:inline-block;width:18px;height:18px;background-position:0 -30px;text-indent:-9999px;vertical-align: middle;}
.layer_type1 .lay_pop {display:none;position:absolute;top:28px;border:1px solid #ea493e;border-radius:3px;background-color:#fff;z-index:1000;}
.layer_type1 .lay_pop_con {padding:7px 10px 10px;}
.layer_type1 .lay_pop_con h3 {margin-bottom:5px;color:#ea493e !important;font-size:13px;font-weight:bold}
.layer_type1 .lay_pop_con p {margin-left:10px;text-indent:-10px;color:#111;font-size:13px;}
.layer_type1 .lay_pop_con p > span {color:#666;}
.layer_type1 .btn_close {display:block;position:absolute;top:10px;right:10px;width:12px;height:12px;background-color:#fff;background-position:-50px 0;text-indent:-9999px;}

/* 딤드타입 */
.layer_dim {display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1004;}
.layer_dim.open {display:block;}
.layer_dim:before {content:"";position:fixed;left:0;top:0;right:0;bottom:-100%;width:100%;height:100%;background:rgba(0,0,0,0.7);}
.layer_dim.bg_type:before {background:#4c4c4c;}
.layer_dim .layer_wrap {position:fixed;top:50%;left:20px;right:20px;margin:auto;padding:0 18px 18px;transform:translateY(-51%);-webkit-transform:translateY(-51%);max-width:680px;overflow:hidden;background:#fff;box-sizing:border-box;border-radius:8px;z-index:1004;}
.layer_dim .layer_title {position:absolute;top:0;right:0;left:0;height:54px;line-height:54px;background:#fff;border-bottom:1px solid #bbb;font-size:18px;font-weight:bold;text-align:center;z-index:2;}
.layer_dim .layer_title ~ .layer_cont {padding-top:75px;transform:translateY(0);-webkit-transform:translateY(0);}
.layer_dim.packed .layer_title ~ .layer_cont {padding-top:55px;}
.layer_dim.packed .layer_wrap.scroll {padding:0 0 70px;}

.layer_dim .layer_wrap > .btn_area {margin:15px 0 0;}
.layer_dim .layer_wrap .layer_cont + .btn_area {margin:20px 0 0;}
#benefit_saved.layer_dim .layer_wrap .layer_cont + .btn_area {margin:30px 0 0;}
.layer_dim .scroll {top:20px;bottom:20px;padding-top:75px;padding-bottom:90px;transform:translateY(0);-webkit-transform:translateY(0);}
.isAPP .layer_dim .scroll {top:80px;bottom:120px;}
.layer_dim .scroll .layer_cont {height:100%;padding:0;overflow:auto;-webkit-overflow-scrolling:touch;box-sizing:border-box;}
.layer_dim.packed .scroll .layer_cont + .btn_area {/*position:absolute;bottom:0;right:18px;left:18px;bottom:18px;*/margin:12px 18px;}
.layer_dim .btn_mtype1 {height:40px;padding:11px 12px;font-size:16px;}
.isAND .layer_dim .btn_mtype1.form {padding:13px 12px;}
body.isAND.isAPP #wrap:not(.sch_scroll) #oneTvChannel.layer_dim .scroll {bottom:170px;}

/*.layer_dim.layer_phone_certify .layer_wrap {transform: none;-webkit-transform: none;margin-top: -200px;}
.member .layer_dim.layer_phone_certify .layer_wrap {position:absolute;transform: translateY(-51%);webkit-transform: translateY(-51%);margin-top:0;}*/

/* 레이어 */
.layer_full {display:none;}
.layer_full.open {display:block;}
.layer_full > .layer_wrap {position:fixed;top:0;right:0;bottom:0;left:0;background:#fff;z-index:1001;}
.isAPP .layer_full > .layer_wrap {top:46px;}
.isAPP #SIREN_CERT_LAYER.layer_full > .layer_wrap {top:0;}
.layer_full > .layer_wrap > .layer_title {position:absolute;top:0;right:0;left:0;height:55px;line-height:55px;padding-left:55px;border-bottom:1px solid #bbb;font-size:18px;font-weight:bold;}
.layer_full .layer_cont {position:absolute;top:56px;right:0;bottom:0;left:0;overflow:auto;-webkit-overflow-scrolling:touch;padding:0 12px 20px;}
.layer_full.no_tit .layer_cont {top:0;}
.layer_wrap .close {overflow:hidden;position:absolute;top:20px;left:20px;width:23px;height:15px;background-color:#fff;background-position:0 -50px;text-indent:-9999px;}
/* IOS 웹 렌더링 관련
.isIOS.isWEB .layer_full.open .layer_wrap {-webkit-animation:fix 0.5s forwards;animation:fix 0.5s forwards;}
.isIOS.isWEB .layer_full.open .layer_wrap {-webkit-animation:fix 0.5s forwards;animation:fix 0.5s forwards;}
@-webkit-keyframes fix { from {top:1px;} to {top:0;} }
@keyframes fix { from {top:1px;} to {top:0;} }*/
.isAPP .layer_full .layer_cont {padding:0 12px 60px;}

.layer_cont .layer_sub_title {margin:20px 0 10px;font-weight:bold;}
.layer_cont .txt_type2 li {padding-bottom:20px;}
.layer_cont .txt_type2 h3 {padding-bottom:3px;font-size:16px;font-weight:bold;}
.layer_cont .txt_type2 p {padding-bottom:3px;color:#666;}
.layer_cont .txt_type2 p.bul:before {display:inline-block;width:4px;height:1px;margin-right:4px;background-color:#666;vertical-align:middle;content: '';}
.layer_cont .txt_box1 {padding:5px 10px 8px;background:#f6f6f6;font-size:13px;line-height:1.43em;word-break:keep-all;}
.layer_cont .txt_dot1 {margin-top:15px;padding-top:12px;border-top:1px dashed #ddd;color:#ea493e;line-height:1.43em;text-align:center;}
.layer_cont .btn_area {margin-top:20px;}

.layer_cont .alert_txt {margin:20px 0 15px;}
.layer_cont .alert_txt1 {margin:35px 0 0;text-align:center;word-break:keep-all;}
.layer_cont .alert_txt2 {margin:40px 0 0;text-align:center;line-height:19px;}
.layer_cont .alert_txt3 {margin:8px 0 35px;color:#666;font-size:14px;text-align:center;}
.layer_cont .alert_txt4 {margin:35px 0 38px;text-align:center;}
.layer_cont .alert_txt4 span.fc1 {display:block;font-size:14px;margin-top:7px;}
.layer_cont .alert_txt4 .fred {color:#ea493e;}
.layer_cont .alert_txt5 {text-align:center;line-height:19px;}
.layer_cont .alert_txt1 + .gray_r_box {margin-top:20px;}
.layer_cont .alert_txt3 + .gray_r_box {margin-top:-20px;}
.layer_cont .alert_agree_list {padding-left:20px;text-align:left;font-size:14px !important;}
.layer_cont .alert_agree_list li {margin:0;line-height:20px;}
.layer_cont .bul_list.alert_agree_list li:before {top:10px;}
.layer_cont .alert_agree_list .tit {display:inline-block;}
.layer_cont .alert_agree_list li .fc1 {color:#111;font-weight:bold;}
.layer_cont .chk_type {margin:30px 0 0;}
.layer_cont .alert_txt2 + .chk_type {margin:35px 0 -8px;}
.layer_cont .gray_r_box.fc1 {font-size:17px;}
.layer_cont .mt10 {margin-bottom:10px;}
.layer_cont .mt20 {margin-bottom:20px;}

.layer_cont .pin_number {position:relative;margin:0 0 10px;padding-right:86px;}
.layer_cont .pin_number .input {position:relative;}
.layer_cont .pin_number .input input.text {padding-right:60px;}
.layer_cont .pin_number .input .timer {position:absolute;top:11px;right:0;padding:0 10px;border-left:1px solid #ddd;color:#ea493e;font-size:14px;line-height:1;}
.layer_cont .pin_number [class*="btn_"] {position:absolute;top:0;right:0;height:40px;width:74px;}

.layer_cont .txt_stl{margin-bottom:5px;font-size:14px;font-weight:bold;}
.layer_cont .txt_stl2{color:#666;font-size:14px}


/*************************************************
	버튼
*************************************************/
.btn_stype1,.btn_mtype1,.btn_ltype1, .ui-datepicker-trigger {overflow:visible;display:inline-block;margin:0;cursor:pointer;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #bbb;border-radius:5px;background:#fff;text-align:center;}
.btn_stype1 {min-width:40px;height:25px;padding:5px 7px;border:1px solid #bbb;border-radius:4px;background:#fff;font-size:13px;line-height:1;}
.btn_stype1.h60 {height:30px;padding:8px 12px;}
.btn_mtype1 {height:35px;min-width:70px;padding:9px 12px;line-height:1;}
.btn_ltype1 {width:100%;height:45px;padding:12px 5px;font-size:17px;line-height:1;}
.isAND .btn_stype1 {padding:6px 7px;}
.isAND .btn_stype1.h60 {padding:8px 12px;}
.isAND .btn_mtype1 {padding:10px 12px;}
.isAND .btn_ltype1 {padding:14px 5px;}

.btn_stype1.c1, .btn_mtype1.c1, .btn_ltype1.c1 {border-color:#ea493e;color:#ea493e;}
.btn_stype1.c2, .btn_mtype1.c2, .btn_ltype1.c2 {border-color:#ea493e;background:#ea493e;color:#fff;}
.btn_stype1.c3, .btn_mtype1.c3, .btn_ltype1.c3 {border-color:#666;background:#666;color:#fff;}
.btn_stype1.c4, .btn_mtype1.c4, .btn_ltype1.c4 {color:#666;}
.btn_stype1.c4, .btn_mtype1.form {min-width:0;border-color:#bbb;background:#eee;}
.btn_ltype1.c4 {border-color:#bbb;background:#fff;}
.btn_stype1.c6, .btn_mtype1.c6, .btn_ltype1.c6 {border-color:blue;color:blue}
.btn_stype1.c7, .btn_mtype1.c7, .btn_ltype1.c7 {border-color:blue;background:blue;color:#fff;}
.btn_mtype1.form {height:40px;padding:11px 12px;line-height:1;}
.isAND .btn_mtype1.form {padding:13px 12px;}
.btn_stype1.disabled,
.btn_mtype1.disabled {background:#c5c5c5;color:#f6f6f6;}
.btn_stype1.dim, .btn_mtype1.dim, .btn_ltype1.dim {border-color:#ddd;background:#ececec;color:#999;}

a.btn_stype1:after {content:"";display:inline-block;margin:0 1px 0 3px;width:5px;height:5px;border-top:1px solid;border-right:1px solid;border-color:#111;transform:scale(1,.8) rotate(45deg);-webkit-transform:scale(1,.8) rotate(45deg);vertical-align:2px;}
a.btn_stype1.no_ico:after {display:none;}
a.btn_mtype1.arr:after {content:"";display:inline-block;margin:0 1px 0 3px;width:6px;height:6px;border-top:1px solid;border-right:1px solid;border-color:#111;transform:scale(1,.8) rotate(45deg);-webkit-transform:scale(1,.8) rotate(45deg);vertical-align:2px;}
a.btn_ltype1.arr:after {content:"";display:inline-block;margin:0 1px 0 3px;width:6px;height:6px;border-top:1px solid;border-right:1px solid;border-color:#111;transform:scale(1,.8) rotate(45deg);-webkit-transform:scale(1,.8) rotate(45deg);vertical-align:2px;}
a.btn_stype1.c1:after, a.btn_mtype1.c1.arr:after, a.btn_ltype1.c1.arr:after {border-color:#ea493e;}
a.btn_stype1.c2:after, a.btn_mtype1.c2.arr:after, a.btn_ltype1.c2.arr:after,
a.btn_stype1.c3:after, a.btn_mtype1.c3.arr:after, a.btn_ltype1.c3.arr:after {border-color:#fff;}
a.btn_stype1.c4:after, a.btn_mtype1.c4.arr:after, a.btn_ltype1.c4.arr:after {border-color:#666;}

.btn_area {overflow:hidden;position:relative;text-align:center;}
#container > .btn_area {margin:0 12px;}
.btn_area.col2 a {margin:0;}
.btn_area.col2 > *:first-child:nth-last-child(2),
.btn_area.col2 > *:last-child:nth-child(2) {float:left;min-width:0;width:48.2%;width:-webkit-calc(50% - 6px);width:-moz-calc(50% - 5px);width:calc(50% - 6px);padding-left:0;padding-right:0;}
.btn_area.col2 > *:last-child:nth-child(2) {float:right;}
.btn_area.col2 > *:only-child {display:block;width:100%;}

/* 버튼:active class */
.active_part .btn_ltype1.c1{-webkit-tap-highlight-color:rgba(0, 0, 0, 0.07)}
.active_part .btn_ltype1.c2 {-webkit-tap-highlight-color:transparent}
.active_part .btn_ltype1.c1:active:not(:disabled),
.active_part .btn_mtype1.c1:active:not(:disabled),
.active_part .btn_stype1.c1:active:not(:disabled),
.active_part .btn_stype1:active:not(:disabled) {background:rgba(0, 0, 0, 0.07)}
.active_part .btn_ltype1.c2:active:not(:disabled),
.active_part .btn_mtype1.c2:active:not(:disabled),
/* 셀렉트박스 */
.d_select {position:relative;display:inline-block;overflow:hidden;vertical-align:middle;}
.d_select select {position:absolute;top:0;left:0;visibility:hidden;z-index:-1;}
.d_select button {overflow:hidden;position:relative;width:100%;height:40px;padding:0 30px 0 12px;color:#111;background:#fff;border:1px solid #bbb;border-radius:5px;vertical-align:middle;line-height:1;text-align:left;white-space:nowrap;text-overflow:ellipsis;}
.d_select button.active {color:#111;}
.d_select button:before {content:"";position:absolute;top:50%;right:10px;width:11px;height:6px;margin-top:-3px;background:url(/resources/mimages/unity/arrow_select.png) no-repeat;background-size:cover;}
.d_select.active button {border-bottom:0;border-radius:5px 5px 0 0;color:#999;border-color:#111;}
.d_select.active .btmSel {border-top:0;border-bottom:1px solid #bbb;border-radius:0 0 5px 5px;color:#999;}
.d_select.active button:before,
.d_select.active .btmSel:before {transform:rotate(180deg);-webkit-transform:rotate(180deg);}

.d_select.disabled button {border:1px solid #ddd;background:#f6f6f6;-webkit-text-fill-color:#aaa;}
.d_select.disabled:after {content:"";position:absolute;top:0;right:0;bottom:0;left:0;}

.d_select.readonly button {border-color:#bbb;color:#111;}

.d_select select.small + button {height:30px;padding:0 25px 0 8px;font-size:13px;}
.d_select select.small + button:before {width:8px;height:4px;margin-top:-2px;}

.normal_select {height: 35px;position:relative;display:inline-block;overflow:hidden;vertical-align:middle;}
.normal_select select {width: 100%;height: 100%;color:#111;background:#fff;border:1px solid #bbb;border-radius:5px;-webkit-appearance:auto;padding:0 30px 0 12px}

.d_sel_list {display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.7);z-index:1100;}
.d_sel_list_wrap {position:fixed;top:50%;left:20px;right:20px;margin:auto;padding:55px 18px 18px;transform:translateY(-50%);-webkit-transform:translateY(-50%);max-width:680px;overflow:hidden;background:#fff;box-sizing:border-box;border-radius:8px;z-index:1002;}

.d_sel_list.active {display:block;}
.d_sel_list .sel_title {position:absolute;top:0;right:0;left:0;height:54px;box-sizing:border-box;padding-top:15px;border-bottom:1px solid #bbb;font-size:18px;text-align:center;font-weight:bold;}
.d_sel_list .list {padding:10px 0;}
.d_sel_list .list span {position:relative;display:-webkit-box;-webkit-box-align: center;padding:10px 0;min-height:24px;line-height:1.3;}
.d_sel_list .list span + span {border-top:1px solid #eee;}
.d_sel_list .list span button {display:block;width:100%;padding-left:36px;text-align:left;}
.d_sel_list .list span button:after, .d_sel_list .list .active button:before {content:"";position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.d_sel_list .list span button:after {left:0;width:22px;height:22px;box-sizing:border-box;border:1px solid #bbb;border-radius:50%;}
.d_sel_list .list .active button:before {left:6px;width:10px;height:10px;background:#ea493e;border-radius:50%;}
.d_sel_list .list .disabled button {color:#999;}
.d_sel_list .list .disabled:after {content:"";position:absolute;top:0;right:0;bottom:0;left:0;}
.d_sel_list .list .bold button {font-weight:bold;}
.d_sel_list .btn_mtype1 {width:100%;height:40px;}

.d_sel_list .scroll {top:20px;bottom:20px;padding:55px 18px 73px;transform:translateY(0);-webkit-transform:translateY(0);}
.isAPP .d_sel_list .scroll {top:70px;bottom:85px;}
.d_sel_list .scroll .list {height:100%;overflow:auto;-webkit-overflow-scrolling:touch;}
.d_sel_list .scroll .btn_area:last-child {position:absolute;bottom:0;right:18px;left:18px;bottom:18px;}

.d_select.select_arr button {border:none;color:#111;text-align:right;}
.select_arr button:before, .result_options .total:before {width:8px;height:5px;background:url(/resources/mimages/unity/arrow_select2.png) no-repeat;background-size:cover}

/* 추천 사이즈 */
.size_recommend h3 {margin:20px 0 10px;word-break:keep-all}
.size_recommend h3:first-child {margin-top:0;}
.size_recommend h3 + .r_box {margin-top:0;}
.size_recommend,
.size_recommend input {-webkit-tap-highlight-color:transparent;}
.size_recommend .r_box {margin-top:5px;border:1px solid #ddd;padding:12px;}
.size_recommend .r_box > *:first-child {margin-top:0;}
.size_recommend .r_box > * {margin-top:10px;}
.size_recommend .r_box > ul {margin-top:5px;}
.size_recommend .c_box_list li {display:-webkit-box;display:flex;padding:5px 0;line-height:35px;}
.size_recommend .c_box_list strong {width:57px;min-width:57px;}
.size_recommend .c_box_list .c_box {display:-webkit-inline-box;display:inline-flex;box-sizing:border-box;margin-left:8px;border-radius:5px;border:1px solid #ddd;width:100%;padding:0 10px;line-height:33px;font-size:14px;}
.size_recommend .c_box input {width:100%;height:33px;margin-right:5px;padding:0;line-height:33px;color:#111;text-align:right;}
.size_recommend .c_box input + span,
.size_recommend .c_box input + strong {width:22px;min-width:22px;line-height:33px;color:#666;}
.size_recommend table {width:100%;border:1px solid #ddd;}
.size_recommend table th,
.size_recommend table td {padding:12px 10px;line-height:18px;text-align:left}
.size_recommend table th {border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #d8d8d8;font-weight:normal;background:#f6f6f6}
.size_recommend table td {color:#444;font-size:14px;border-bottom:1px solid #d8d8d8;}
.size_recommend .stxt {margin-top:5px;color:#666;white-space:nowrap}
.size_recommend .stxt p {display:inline-block;vertical-align:top;white-space:normal;}
.size_recommend .f_red th,
.size_recommend .f_red td {color:#ea493e;font-weight:bold;font-size:17px;}

#sizeRecomAgree .layer_wrap {right:12px;left:12px;padding-right:6px;padding-bottom:78px}
#sizeRecomAgree .layer_cont {padding-right:12px;}
#sizeRecomAgree .btn_area {margin-right:12px}
#sizeRecom .layer_wrap {top:20px;bottom:20px;height:calc(100% - 40px);max-height:668px;padding-top:75px;padding-bottom:70px;transform:translateY(0);-webkit-transform:translateY(0);}
.isAPP #sizeRecom .layer_wrap  {top:80px;bottom:120px;}
#sizeRecom .tab_wrap {height:100%;}
#sizeRecom .tab_wrap .tab_cont {position:relative;height:calc(100% - 70px);}
#sizeRecom .tab_wrap .frame_wrap {position:fixed;top:0;left:0;width:100%;height:100%;z-index:1;}
#sizeRecom .tab_wrap .frame_wrap > div {position:absolute;top:0;right:0;bottom:0;left:0;height:100%;}
#sizeRecom iframe {width:100%;height:100%;}
#sizeRecom .layer_cont {height:100%;padding:0;overflow:auto;-webkit-overflow-scrolling:touch;box-sizing:border-box;}
#sizeRecom .layer_cont + .btn_area {margin:12px 18px;}

.size_recommend .tit{margin:0 0 8px}
.size_recommend .tit .util{font-size:12px;color:#666}
.size_recommend.customer_info{-webkit-tap-highlight-color:inherit}
.size_recommend.customer_info .btn_area{margin:30px 0 10px !important}
.size_recommend .customer_info_top {position:relative;display:-webkit-box;display:flex;padding:32px 0 0}
.size_recommend .customer_info_top .tit{flex:1;margin-bottom:0}
.size_recommend .customer_info_top .btn_reset{position:relative;display:block;min-width:67px;height:25px;line-height:25px;margin-top:-2px;padding-right:7px;text-align:right;border:1px solid #ddd;border-radius:4px;font-size:13px;color:#111;box-sizing:border-box;}
.size_recommend .customer_info_top .btn_reset::before{display:block;position:absolute;left:5px;top:50%;content:"";width:14px;height:14px;margin-top:-7px;background:url(/resources/mimages/unity/sp_mylotte.png) no-repeat -166px -74px;background-size:250px auto}
.size_recommend .customer_info_wrap{padding-top:24px;border-top:1px solid #eee}
.size_recommend .customer_info_wrap.first{border-top:none}
.size_recommend .customer_info_box {margin-bottom:24px;overflow:hidden}
.size_recommend.customer_info.v02{margin:20px -12px 0;padding:0 12px;border-top:1px solid #eee}
.size_recommend.customer_info.v02 .customer_info_wrap{padding-top:0;border-top:none}
.size_recommend.customer_info.v02 .customer_info_top{padding:32px 0 10px}
.size_recommend.customer_info.v02 .bul_ex{margin-top:-10px}
.size_recommend.customer_info.v02 .customer_info_box:last-child{margin-bottom:16px}
.size_recommend .customer_info_list {margin-right:-8px;margin-top:-8px}
.size_recommend .customer_info_list:after{display:block;content:"";clear:both}
.size_recommend .customer_info_list li{float:left;width:calc(33.33% - 8px);position:relative;margin-right:8px;margin-top:8px}
.size_recommend .customer_info_list.grid4 li{width:calc(25% - 8px)}
.size_recommend .customer_info_list input{overflow:hidden;position:absolute;left:-9999px;top:0}
.size_recommend .customer_info_list input + label{display:block;height:40px;line-height:40px;border:1px solid #bbb;border-radius:5px;color:#111;box-sizing:border-box;white-space:nowrap;text-align:center;font-size:15px;font-weight:normal}
.size_recommend .customer_info_list input:checked + label{background-color:blue;color:#fff;border-color:blue}
.size_recommend .customer_info_box .select_list{display:flex;margin-right:-16px}
.size_recommend .customer_info_box .select_list li{flex:1;margin-right:16px}
.size_recommend .customer_info_box .d_select{display:block}
.size_recommend .customer_info_box .c_box_list .c_box{margin-left:0;}
.size_recommend .customer_info_box .c_box_list .c_box{border:1px solid #bbb}
.size_recommend .customer_info_box .c_box_list .c_box input{height:40px;font-size:14px}
.size_recommend .customer_info_box .c_box_list .c_box input::placeholder{font-size:13px;text-align:left;}
.size_recommend .customer_info_box .c_box_list input + span, .c_box_list.type02 input + strong{line-height:40px;font-size:13px}
.size_recommend .customer_info_box .c_box_list.type02 input + span{width:25px;min-width:25px;}
.size_recommend .advice button{border:1px solid blue;color:blue}
.size_recommend .advice button::before{background: url(../images/arrow_select4.png) no-repeat;background-size:cover}
.size_recommend .advice .c_box{border-color:blue !important}
.size_recommend .advice .c_box input::placeholder{color:blue}
.size_recommend .advice .c_box input + span, .advice.c_box_list.type02 input + strong{color:blue}
.size_recommend .advice input + label {border-color:blue !important;color:blue !important}
.size_recommend .advice input:checked + label{color:#fff !important}
.size_recommend .txt_advice{margin-top:10px;font-size:13px;color:blue}
.size_recommend .size_skin_agree .tit{margin-bottom:10px}
.size_recommend .size_skin_agree .agree_tit{position:relative;margin:20px 0 0;padding:10px 12px 11px;text-align:left;border:1px solid #bbb;border-radius:5px}
.size_recommend .size_skin_agree .agree_tit .btn_opens{display:block;position:absolute;top:0;bottom:0;right:0;width:50px;height:45px;margin:auto 0}
.size_recommend .size_skin_agree .agree_tit .btn_opens span{position:absolute;right:0;left:0;top:0;bottom:0;width:13px;height:8px;margin:auto;text-indent:-9999px;background:url(../images/sp_bul.png) no-repeat;background-size:200px auto;background-position:0 0;color:transparent}
.size_recommend .size_skin_agree .agree_tit .btn_opens:active{-webkit-tap-highlight-color:transparent;background:rgba(0, 0, 0, 0.07);}
.size_recommend .size_skin_agree .agree_tit.on {border-bottom-left-radius:0;border-bottom-right-radius:0}
.size_recommend .size_skin_agree .agree_tit.on .btn_opens span{background-position:-25px 0}
.size_recommend .size_skin_agree .agree_tit.on +  .agree_cont{display:block}
.size_recommend .size_skin_agree .agree_cont{display:none;padding:12px;border:1px solid #bbb;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.size_recommend .size_skin_agree .agree_cont p{font-size:14px}
.size_recommend .size_skin_agree .bul_list li{color:#111}
.size_recommend .size_skin_agree .f_red{color:blue}

#popSkinSizeRecom .size_recommend{position:relative}
#popSkinSizeRecom .layer_cont{margin:0 -18px}
#popSkinSizeRecom .text_wrap{padding:0 18px;margin-bottom:20px}
#popSkinSizeRecom .ac_list_wrap{position:relative;max-height:300px;overflow-y:auto;}
#popSkinSizeRecom .ac_list_wrap > ul > li{border-top:1px solid #eee}
#popSkinSizeRecom .ac_list_wrap > ul > li:last-child{border-bottom:1px solid #eee}
#popSkinSizeRecom .ac_list_wrap > ul > li > a{display:block;position:relative;padding:14px 0 13px 18px}
#popSkinSizeRecom .ac_list_wrap > ul > li > a:after{position:absolute;right:18px;top:50%;width:13px;height:8px;margin-top:-4px;content:'';background: url(../images/sp_bul.png) no-repeat;background-size:200px auto;color:transparent}
#popSkinSizeRecom .ac_list_wrap > ul > li .ac_cont{display:none;padding:16px 18px;background:#f6f6f6;}
#popSkinSizeRecom .ac_list_wrap > ul > li.on > a:after{background-position:-25px 0}
#popSkinSizeRecom .ac_list_wrap > ul > li.on .ac_cont{display:block}
#popSkinSizeRecom .customer_info_box{margin-bottom:20px}
#popSkinSizeRecom .customer_info_box:last-child{margin-bottom:0}
#popSkinSizeRecom .customer_info_box .customer_info_list{margin-right:-6px}
#popSkinSizeRecom .customer_info_box .customer_info_list li{width:calc(33.33% - 6px);margin-right:6px}
#popSkinSizeRecom .customer_info_box .select_list{margin-right:-6px}
#popSkinSizeRecom .customer_info_box .select_list li{margin-right:6px}
#popSkinSizeRecom .customer_info_box label.c_box{background-color:#fff}
#popSkinSizeRecom .customer_info_list input:checked + label{background-color:blue}
#popSkinSizeRecom .customer_info_list input + label{font-size:14px;background-color:#fff}
#popSkinSizeRecom .size_skin_agree{position:relative;padding:0 18px;;font-size:14px}
#popSkinSizeRecom .size_skin_agree .bul_list{font-size:15px}
#popSkinSizeRecom .size_skin_agree .f_red th,
#popSkinSizeRecom .size_skin_agree .f_red td{font-size:14px}
#popSkinSizeRecom .size_skin_agree .agree_tit{margin:0}
#popSkinSizeRecom .size_skin_agree .agree_tit .btn_opens span{right:12px;left:auto}
#popSkinSizeRecom .txt_advice{margin-top:10px;font-size:13px;color:blue}
#popSkinSizeRecom .btn_mtype1.c1{border-color:blue;color:blue}
#popSkinSizeRecom .btn_mtype1.c2{border-color:blue;background:blue}
#popSkinSizeRecom .active_part .btn_mtype1.c1{-webkit-tap-highlight-color:rgba(0, 0, 0, 0.07)}
#popSkinSizeRecom .active_part .btn_mtype1.c2 {-webkit-tap-highlight-color:transparent}
#popSkinSizeRecom .active_part .btn_mtype1.c2:active{background-color:blueviolet; border-color:blueviolet; color: #ccc;}
