body * {margin:0;padding:0;}

.wrap{position: relative;    min-height: 100%;}
.floating.tg {position:fixed;left:0;bottom:72px;}
.floating.tg.v02{bottom:89px}
.floating.tg a.go_back {display:block;position:absolute;left:18px;bottom:0;width:47px;height:47px;background:url(https://image.lotteimall.com/imall_mc/site/images/unity/together/btn_back.png) no-repeat;background-size:47px 47px;}

.pd_buy_section {position:fixed;right:0;bottom:-1px;left:0;box-sizing:border-box;border-top:1px solid #999;background:#fff;z-index:1002;}

.buy_action{position:fixed;left:0;right:0;bottom:0;width:100%;height:70px;line-height:70px;text-align:center;border:1px solid #ccc;z-index:1002;background:#fff;box-sizing:border-box;}
.buy_action span{border:1px solid red;}

/* 토스트 팝업 */
.toast_action_popup{position:fixed;left:16px;right:16px;bottom:0px;transform:translateY(70px);margin-bottom:constant(safe-area-inset-bottom);margin-bottom:env(safe-area-inset-bottom);background:rgba(17,17,17,0.85);border-radius:30px;text-align:center;z-index:1000;overflow:hidden;}
.toast_action_popup.show{animation:toast_action_show cubic-bezier(.42,0,.58,1) 1s forwards;} 
.toast_action_popup.hide{animation:toast_action_hide 0.6s forwards} 
.toast_action_popup .data_wrapper{height:48px;line-height:48px;transform:translate3d(0px, 0px, 0px);transition:transform .5s;-webkit-transition:transform .5s}
.toast_action_popup .data_wrapper p{white-space:nowrap;font-size:14px;color:#fff;} 
.toast_action_popup .data_wrapper .qty{color:#b7b8ff}
.toast_action_popup .btn_close{width:20px;height:20px;text-indent:-9999px;background:url(/resources/mimages/unity/btn_toast_close.png) center center no-repeat;background-size:13px auto;position:absolute;right:15px;top:0;bottom:0;margin:auto 0;}


@keyframes toast_action_show {

  65%{ transform:translateY(-90px);}
  85%{ transform:translateY(-84px)}
100%{ transform:translateY(-89px)}

}
@keyframes toast_action_hide {
  0%{ transform:translateY(-89px)}
100%{ opacity:0; transform:translateY(0);}

}
