body * {margin:0;padding:0;}

.wrap{position: relative;    min-height: 100%;}
.floating.tg {position:fixed;left:0;bottom:72px;}
.floating.tg.v02{bottom:89px}
.floating.tg a.go_back {display:block;position:absolute;left:18px;bottom:0;width:47px;height:47px;background:url(https://image.lotteimall.com/imall_mc/site/images/unity/together/btn_back.png) no-repeat;background-size:47px 47px;}

.pd_buy_section {position:fixed;right:0;bottom:-1px;left:0;box-sizing:border-box;border-top:1px solid #999;background:#fff;z-index:1002;}

.buy_action{position:fixed;left:0;right:0;bottom:0;width:100%;    padding: 12px 8px;text-align:center;border:1px solid #ccc}
.buy_action span{border:1px solid red;}

/* 토스트 팝업 */
.toast_action_popup{position:fixed;left:16px;right:16px;bottom:-70px;margin-bottom:constant(safe-area-inset-bottom);margin-bottom:env(safe-area-inset-bottom);background:rgba(17,17,17,0.85);border-radius:30px;text-align:center;z-index:1000;overflow:hidden;}
.toast_action_popup.show{animation:toast_action_show 0.5s linear forwards, toast_action_bounce 0.7s cubic-bezier(0.755, 0.115, 0.100, 0.600) forwards;opacity:1;} 
.toast_action_popup .data_wrapper{height:48px;line-height:48px;transform:translate3d(0px, 0px, 0px);transition:transform .5s;-webkit-transition:transform .5s}
.toast_action_popup .data_wrapper p{white-space:nowrap;font-size:14px;color:#fff;} 
.toast_action_popup .data_wrapper .qty{color:red}
.toast_action_popup .btn_close{width:20px;height:20px;text-indent:-9999px;background:url(/resources/mimages/unity/btn_toast_close.png) center center no-repeat;background-size:13px auto;position:absolute;right:15px;top:0;bottom:0;margin:auto 0;}
@keyframes toast_action_bounce {
	70% { transform:translateY(0); }
    80% { transform:translateY(-10px); }
    90% { transform:translateY(-5px); }
    100% { transform:translateY(0); }
}

@-webkit-keyframes toast_action_bounce {
    70% { transform:translateY(0); }
    80% { transform:translateY(-10px); }
    90% { transform:translateY(-5px); }
    100% { transform:translateY(0); }
}

@keyframes toast_action_show {
	0% {bottom:-70px}
    100% { bottom:89px}
}
